.header {
  font-size: 2rem;
  background: #fff;
  color: var(--color-primary);
  color: #0072bc;
  font-family: "Staatliches", cursive;
  text-align: center;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-width: 100rem;
  margin: 0 auto;
}

.header__top a {
  text-decoration: none;
}

@media (min-width: 700px) {
  .header__top {
    padding: 1rem 10rem;
  }
}
