.header {
  font-size: 2rem;
  background: #fff;
  color: var(--color-primary);
  font-family: "Staatliches", cursive;
  text-align: center;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
@media (min-width: 900px) {
  .header__top {
    padding: 1rem 30%;
  }
}
