.header {
  font-size: 2rem;
  color: #fff;
  background: var(--color-primary);
  padding: 1rem 2rem;
  font-family: "Staatliches", cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 900px) {
  .header {
    justify-content: space-around;
  }
}
