.logInOut__nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.logInOut__nav__item:first-child {
  margin-right: 0.5rem;
}
.logInOut__nav__item:first-child::after {
  content: "|";
  color: rgba(0, 114, 188, 0.6);
  opacity: 0.5;
  width: 1px;
  margin-left: 0.5rem;
}
