.navigation__list {
  display: flex;
  justify-content: flex-start;
  background: #fff;
  padding: 1rem 30%;
}
ul {
  list-style: none;
}
.navigation__list li {
  color: var(--color-primary);
  padding-right: 5rem;
}
