.dashboard {
  padding-top: 2rem;
}
.dashboard__summary {
  background-color: rgb(246, 246, 246);
}
.dashboard__summary__title {
  background-color: rgb(10, 82, 130);
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem;
}
.dashboard__summary__content__top {
  display: flex;
}
