.tdee {
  padding: 1rem;
}
.tdee__title {
  color: rgb(10, 82, 130);
  font-size: 2rem;
  text-align: center;
}
.tdee__description {
  padding-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
.tdee__form {
  margin-top: 2rem;
  background-color: rgb(246, 246, 246);
  font-size: 1.25rem;
  padding: 1rem;
}
.tdee__form__gender {
  display: flex;
  align-items: center;
}
.form__caption {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.form__caption strong {
  flex-basis: 25%;
}
.tdee__form__gender__genders {
  display: flex;
  align-items: center;
}
.tdee__form__gender__genders > * {
  margin-right: 1rem;
}
.form__caption label {
  flex-basis: 75px;
}
.form__caption label input {
  width: 100%;
  padding: 0.5rem;
}
.tdee__form__height label {
  margin-right: 0.5rem;
}
.tdee__form__activity {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.tdee__form__activity strong {
  flex-basis: 25%;
}
.tdee__form__activity select {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}
