.tdee {
  padding: 1rem;
}
.tdee__title {
  color: rgb(10, 82, 130);
  font-size: 2rem;
  text-align: center;
}
.tdee__description {
  padding-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
.tdee__form {
  margin-top: 2rem;
  background-color: rgb(246, 246, 246);
  font-size: 1.25rem;
  padding: 1rem;
}
.tdee__form__gender {
  display: flex;
  align-items: center;
}
.tdee__form__gender strong {
  padding-right: 3rem;
}
.tdee__form__gender > *:not(:first-child) {
  padding: 0 1rem;
}
