:root {
  --color-primary: #0072bc;
  --color-error: rgb(236, 71, 71);
  --color-button-cancel: #8e8e8e;
  --color-date: #81a8c1;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button.react-calendar__tile--now {
  /* background-color: #30b92b; */
  background-color: rgb(3, 81, 132);
  color: #fff;
}
button.react-calendar__month-view__days__day--weekend {
  color: unset;
}
